<div class="landing-first">
  <h1 class="title styled">get your photos</h1>
  <div class="container">
    <div class="form">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>
      <%= f.email_field :email, autofocus: true, placeholder: 'Email', class: 'form-control' %>
      <%= f.password_field :password, autocomplete: "off", placeholder: 'Password', class: 'form-control' %>
      <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: 'Password Confirmation', class: 'form-control' %> 
      <div class="btn-enter">
          <%= f.submit "Sign up", class: 'btn btn-warning float' %>
          <%= link_to "Login", new_user_session_path, :class => 'btn btn-default float'  %>
      </div>

    <% end %>
    </div>
  </div>

</div>


<div class="landing-intro">
  <div class="l-square"></div>
  <div class="l-triangle"></div>
  <div class="container">
    <div class="row l-intro">
      <div class="l-box">
        <div class="l-title">start</div>
        <div class="l-ball"></div>
      </div>  
      <div class="l-box">
        <div class="l-title">connect</div>
        <div class="l-ball"></div>
      </div>  
      <div class="l-box">
        <div class="l-title">select</div>
        <div class="l-ball"></div>
      </div>  
      <div class="l-box">
        <div class="l-title">download</div>
        <div class="l-ball"></div>
      </div>  
    </div>
    <%= link_to "Login", new_user_session_path, :class => 'btn btn-warning btn-center'  %>

  </div>

</div>

<div class="landing-contact">
 <div class="container">
     <h2 id="section-2">Federico</h2>
  
  <%= image_tag "federico.JPG", size: '150x150',class:'img-circle pull-right' %>

  <p class="about">After five years working as management engineer, Federico is studying to begin a new carrer as web developer. Born in Como, Italy, he is now based in Sydney where he join General Assembly to learn building application using Ruby on Rails, HTML5 and CSS3, javascript, jQuery. </p>

 </div>
</div>


